body {
    font-family: system-ui, sans-serif;
    margin: 24px;
}

video,
canvas,
button {
    display: block;
    margin-top: 12px;
}

canvas {
    display: none;
}

#cam,
#captured {
    transform: scaleX(-1);
}

#cam,
#captured {
    width: "320";
    height: "240";
}
